 <style>
        h1 {
            font-size: 24px;
            color: #ec067e;
            margin-bottom: 20px;
            text-align: center;
        }
        body {
            font-family: 'Times New Roman', Times, serif, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            background-color: #f9c6f6;
        }
        .calculator {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .display {
            width: 220px;
            height: 40px;
            margin-bottom: 10px;
            text-align: right;
            padding: 10px;
            font-size: 24px;
            border: 1px solid #ec067e;
            border-radius: 5px;
            background-color: #f6f1f6;
        }
        .buttons {
            display: grid;
            grid-template-columns: repeat(4, 55px);
            grid-gap: 10px;
        }
        .buttons button {
            width: 50px;
            height: 50px;
            font-size: 18px;
            border: 1px solid #ec067e;
            border-radius: 5px;
            cursor: pointer;
            background-color: #f6f1f6;
        }
        .buttons button:hover {
            background-color: #eaeaea;
        }
        .buttons button:nth-child(17) {
            width: 246px;
        }
    </style>
